<h4>Guess:</h4>
<form>
  <label>It was</label>
  {{#x-select class="form-control" value=who id="who"}}
    {{#x-option disabled}}Choose suspect{{/x-option}}
     {{#each model.suspects as |suspect|}}
       {{#x-option value=suspect.name}}{{suspect.name}}{{/x-option}}
     {{/each}}
   {{/x-select}}
  <label>in the</label>
  {{#x-select class="form-control" value=where id="where"}}
    {{#x-option value=model.room.name}}{{model.room.name}}{{/x-option}}
  {{/x-select}}
  <label>with the</label>
  {{#x-select class="form-control" value=how id="how"}}
    {{#x-option disabled}}Choose weapon{{/x-option}}
     {{#each model.weapons as |weapon|}}
       {{#x-option value=weapon.name}}{{weapon.name}}{{/x-option}}
     {{/each}}
   {{/x-select}}
  <button class="btn btn-default" {{action 'makeGuess'}}>Accuse</button>
</form>
