body {
  background-color: #111111;
  color: #AAAAAA;
  font-family: 'Crimson Text', serif;
}
.choose-character {
  background-size: cover;
  border-radius: 5px;
  height: inherit;
}
.choose-character-container {
  float: left;
  padding: 5px;
  height: 170px;
}
#large-hover:hover {
  padding: 0;
  height: 200px;
}
.room-tile {
  background-size: cover;
  overflow: hidden;
  border-radius: 10px;
  height: inherit;
}
.room-tile-container {
  float: left;
  padding: 10px;
  height: 267px;
  margin: 10px 0;
}
.room-tile-container:hover {
  padding: 10px 10px 10px 5px;
  cursor: pointer;
}
