body {
  background-color: #111111;
  color: #AAAAAA;
  font-family: 'Crimson Text', serif;
}
.choose-character {
  background-size: cover;
  border-radius: 5px;
  height: inherit;
}
.choose-character-container {
  float: left;
  padding: 5px;
  height: 150px;
}
#large-hover:hover {
  padding: 0;
  height: 170px;
}
.room-tile {
  background-size: cover;
  border-radius: 10px;
  height: inherit;
}
.room-tile-container {
  float: left;
  padding: 20px 40px;
  height: 260px;
  margin: 30px 0;
}
.room-tile-container:hover {
  padding: 10px 20px 0 20px;
}
