<div class="container">
  {{outlet}}
</div>

<body>
  <div class="container">
    <div class="container">
      <h3>SUSPECTS</h3>
      <div class="container">
        <label for="mrgreen">Mr. Green
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>

      <div class="container">
        <label for="professorplum">Professor Plum
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>

      <div class="container">
        <label for="colonelmustard">Colonel Mustard
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>

      <div class="container">
        <label for="mrspeacock">Mrs. Peacock
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
      </div>

      <div class="container">
        <label for="mrs. scarlet">Mrs. Scarlet
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>

      <div class="container">
        <label for="mrs. white">Mrs. White
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>
    </div>

    <div class="container">
      <h3>WEAPONS</h3>
      <div class="container">
        <label for="candlestick">Candlestick
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>

      <div class="container">
        <label for="knife">Knife
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>

      <div class="container">
        <label for="lead pipe">Lead Pipe
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>

      <div class="container">
        <label for="revolver">Revolver
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>

      <div class="container">
        <label for="rope">Rope
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>

      <div class="container">
        <label for="wrench">Wrench
          <input type="checkbox" class="checkbox" id="checkone" />
          <input type="checkbox"  class="checkbox" id="checktwo" />
          <input type="checkbox" class="checkbox" id="checkthree" />
          <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
        </div>
      </div>

      <div class="container">
        <h3>ROOMS</h3>
        <div class="container">
          <label for="conservatory">Conservatory
            <input type="checkbox" class="checkbox" id="checkone" />
            <input type="checkbox"  class="checkbox" id="checktwo" />
            <input type="checkbox" class="checkbox" id="checkthree" />
            <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
        </div>

        <div class="container">
          <label for="lounge">Lounge
            <input type="checkbox" class="checkbox" id="checkone" />
            <input type="checkbox"  class="checkbox" id="checktwo" />
            <input type="checkbox" class="checkbox" id="checkthree" />
            <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
        </div>

        <div class="container">
          <label for="kitchen">Kitchen
            <input type="checkbox" class="checkbox" id="checkone" />
            <input type="checkbox"  class="checkbox" id="checktwo" />
            <input type="checkbox" class="checkbox" id="checkthree" />
            <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
        </div>

        <div class="container">
          <label for="library">Library
            <input type="checkbox" class="checkbox" id="checkone" />
            <input type="checkbox"  class="checkbox" id="checktwo" />
            <input type="checkbox" class="checkbox" id="checkthree" />
            <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
        </div>

        <div class="container">
          <label for="hall">Hall
            <input type="checkbox" class="checkbox" id="checkone" />
            <input type="checkbox"  class="checkbox" id="checktwo" />
            <input type="checkbox" class="checkbox" id="checkthree" />
            <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
        </div>

        <div class="container">
          <label for="study">Study
            <input type="checkbox" class="checkbox" id="checkone" />
            <input type="checkbox"  class="checkbox" id="checktwo" />
            <input type="checkbox" class="checkbox" id="checkthree" />
            <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
        </div>

        <div class="container">
          <label for="ballroom">Ballroom
            <input type="checkbox" class="checkbox" id="checkone" />
            <input type="checkbox"  class="checkbox" id="checktwo" />
            <input type="checkbox" class="checkbox" id="checkthree" />
            <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
        </div>

        <div class="container">
          <label for="dining_room">Dining Room
            <input type="checkbox" class="checkbox" id="checkone" />
            <input type="checkbox"  class="checkbox" id="checktwo" />
            <input type="checkbox" class="checkbox" id="checkthree" />
            <input type="checkbox"  class="checkbox" id="checkfour" />
          </label>
        </div>

        <div class="container">
          <label for="billiard_room">Billiard Room
            <input type="checkbox" class="checkbox" id="checkone" />
            <input type="checkbox"  class="checkbox" id="checktwo" />
            <input type="checkbox" class="checkbox" id="checkthree" />
            <input type="checkbox"  class="checkbox" id="checkfour" />
        </label>
      </div>
    </div>
  </div>
</body>
