<br>
<br>
<div class="row">
  {{#each model.suspects as |suspect|}}
    {{#if (eq suspect.name model.game.character)}}
      <div class="choose-character-container col-xs-2">
        <div class="choose-character" style="background-image: url({{suspect.image}});">
        </div>
      </div>
    {{/if}}
  {{/each}}
  <h1>Good evening, {{model.game.character}}</h1>
</div>

<div class="container col-xs-10 col-xs-offset-1">
  {{#each model.rooms as |room|}}
  <div class="col-xs-4 room-tile-container">
    <div class="room-tile" {{action 'enterRoom' room model.game}} style="background-image: url({{room.image}});">
    </div>
  </div>
  {{/each}}
</div>
